<!DOCTYPE html>
<html>

<head>
   <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Data</title>
  <script src="https://d3js.org/d3.v5.min.js"></script>
  <!-- <link rel="stylesheet" type="text/css" href="style.css"> -->
  <link rel="stylesheet" type="text/css" href="../static/css/style.css">
</head>

<body>

  <div class = 'jumbotron card-image' id='home'>
  <div class="navigation">
    <nav class="navbar navbar-expand-lg navbar-light">

      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">

          <li class="nav-item">
            <a class="nav-link" href="{{url_for('index')}}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('PlantType_chart')}}">Visualizations</a>
          </li>
          <li class="nav-item">
             <a class="nav-link" href="{{url_for('State')}}">Map</a>
          </li>

          <img src="{{url_for('static', filename='image/better-tree.png')}}"align="middle" />
          <p></p>
          <img src="{{url_for('static', filename='image/better-tree2.png')}}"align="middle" />
          <p></p>
          <img src="{{url_for('static', filename='image/machinelearning1.png')}}"align="middle" />
          <p>Machine Learning Data.</p>
          <img src="{{url_for('static', filename='image/best-button.png')}}"align="middle" />
          <p>Preparing selections for go button.</p>
          <img src="{{url_for('static', filename='image/button.png')}}"align="middle" />
          <p>Finalizing the go button.</p>
          <img src="{{url_for('static', filename='image/visual.png')}}"align="middle" />
          <p>Plant Type and Season chart code.</p>
          <img src="{{url_for('static', filename='image/map1.png')}}"align="middle" />
          <p>creation of map.</p>
          <img src="{{url_for('static', filename='image/js2.png')}}"align="middle" />
          <p>Creating inputs for html selections.</p>
          <img src="{{url_for('static', filename='image/predict.png')}}"align="middle" />
          <p>Giving the function to predict selections chosen.</p>




</body>

</html>